@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --border-radius1: 12px;
    --border-radius2: 20px;
    --border-radius3: 24px;
    /* color */
    --explore: #3D4AFF;
    --home: #FF7826;
    --about: #8387de;
    --contact: #ddd7fe;
}


* {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Cantarell', sans-serif; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid white;
    border-radius: 100vmax;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

/* container home */
.container-home {
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    display: flex;
    flex-direction: row;
}

/* left home */
.container-home .left-home {
    width: 55%;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    position: relative;
}

.left-home {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-home .logo {
    position: absolute;
    left: 70px;
    top: 20px;
    width: 40px;
}

.left-home .content-left-home h1 {
    font-size: 4.5vw;
    letter-spacing: 2px;
    position: relative;
    top: -50px;
    line-height: 1.8em;
}

.left-home .content-left-home p {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 1px;
    position: relative;
    top: -80px;
    max-width: 550px;
    text-align: justify;
}

.left-home .content-left-home span {
    color: #ddd7fe;
    font-size: 1.3em;
}

.left-home .button {
    width: 20%;
    height: 40px;
    background-color: white;
    position: relative;
    top: -50px;
    border-radius: 6px;

}

/* right home */
.container-home .right-home {
    width: 45%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
}

.right-home .navigation {
    width: 96%;
    height: 90%;
    background-color: #4146ab;
    position: relative;
    left: -3px;
    border-radius: var(--border-radius2);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.navigation h2 {
    font-weight: 500;
    font-size: 2em;
    margin-top: 120px;
    color: white;
    position: relative;
}

.navigation-text h2::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 2px;
    border-radius: 100vmax;
    background-color: #ffffff;
    transition: .5s ease;
}

.navigation-text:hover h2::before {
    width: 50%;
}

.contact .navigation-text h2::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0%;
    height: 2px;
    border-radius: 100vmax;
    background-color: #8387de;
    transition: .5s ease;
}

.navigation-text:hover h2::before {
    width: 50%;
}

.navigation p {
    color: #edeef7;
    margin-top: -10px;
    font-size: .8em;
}

.navigation .contact h2 {
    color: #8387de;
}

.navigation .contact p {
    color: #8387de;

}

.explorer,
.home,
.about,
.contact {
    position: relative;
    padding: 40px;
}

.navigation .explorer {
    background-color: var(--explore);
}

.navigation .home {
    background-color: var(--home);
}

.navigation .about {
    background-color: var(--about);
}

.navigation .contact {
    background-color: var(--contact);
}

.explorer:hover .navigation-text,
.home:hover .navigation-text,
.contact:hover .navigation-text,
.about:hover .navigation-text {
    margin-top: -20px;
}

.explorer:hover .explorer-atribut1 {
    animation: atribut2 1s ease infinite alternate;
}

.explorer:hover .explorer-atribut2 {
    animation: atribut1 2s ease-out infinite alternate;
}

.home:hover .home-atribut1 {
    animation: atribut2 1s ease-out infinite alternate;
}

.home:hover .home-atribut2 {
    animation: atribut1 1s ease-out infinite alternate;
}

.home:hover .home-circle1 {
    animation: atribut 1s ease-out infinite alternate;
}

.home:hover .home-circle1 {
    animation: atribut 1s ease-out infinite alternate;
}

.contact:hover .contact-atribut2 {
    animation: atribut3 .7s ease infinite alternate;
}

.contact:hover .contact-atribut1 {
    animation: atribut4 .7s ease infinite alternate;
}

.about:hover .about-atribut1 {
    animation: atribut 1s ease infinite alternate;
}

.about:hover .about-atribut2 {
    animation: atribut1 1s ease infinite alternate;
}

.about:hover .about-atribut3 {
    animation: atribut4 1s ease infinite alternate;
}

.navigation-text {
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    position: absolute;
}

.navigation a {
    text-decoration: none;

}

.explorer-atribut1 {
    width: 80px;
    height: 5px;
    background-color: #8387de;
    position: absolute;
    transform: rotate(15deg);
    left: -10px;
    top: 100px;
    border-radius: 100vmax;
}

.explorer-atribut2 {
    width: 80px;
    height: 5px;
    background-color: #FF7826;
    position: absolute;
    transform: rotate(45deg);
    left: 130px;
    border-radius: 100vmax;
}

.home-atribut1 {
    width: 80px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    transform: rotate(15deg);
    border-radius: 100vmax;
    top: 90px;
    left: 20px;
}

.home-atribut2 {
    width: 40px;
    height: 5px;
    background-color: #4146ab;
    position: absolute;
    transform: rotate(-15deg);
    left: 110px;
    border-radius: 100vmax;
}

.navigation-atribut img {
    position: absolute;
    top: 0;
    left: 0;
}

.home-circle1 {
    width: 20px;
    height: 20px;
    border-radius: 100vmax;
    position: absolute;
    background-color: wheat;
    left: 50px;
}

.contact-atribut1 {
    width: 30px;
    height: 30px;
    border-radius: 100vmax;
    position: absolute;
    background-color: #3D4AFF;
    left: 70px;
    top: 60px;
    z-index: 2;
}

.contact-atribut2 {
    width: 15px;
    height: 15px;
    border-radius: 100vmax;
    position: absolute;
    background-color: #FF7826;
    left: 90px;
    top: 30px;
    z-index: 2;
}

.about-atribut1 {
    width: 10px;
    height: 10px;
    border-radius: 100vmax;
    position: absolute;
    background-color: #3D4AFF;
    left: 40px;
    top: 30px;
    z-index: 2;
}

.about-atribut2 {
    width: 80px;
    height: 5px;
    background-color: #FF7826;
    position: absolute;
    transform: rotate(-15deg);
    left: 100px;
    border-radius: 100vmax;
}

.about-atribut3 {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100vmax;
    left: 60px;
    top: 60px;
    z-index: 2;
}

.container-aboutMe {
    width: 100vw;
    height: 100vh;
    background-color: #0F1F22;
}

.button-down-home {
    width: 60px;
    height: 100px;
    position: absolute;
    background-color: #edeef7;
    border-radius: 50px;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.button-down-home .arrowdownHome {
    transition: .5s ease;

}

.button-down-home:hover .arrowdownHome {
    transform: scale(1.2) translateY(5px);
}




/* about */
.container-aboutMe {
    width: 100vw;
    height: 120vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.aboutMe-grid {
    display: grid;
    width: 95vw;
    height: 90vh;
    border-radius: var(--border-radius2);
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2.5fr 1fr;
    grid-template-areas: 'main hoby'
        'main skill';
    gap: 20px;
    position: relative;
}

.aboutMe-main {
    background-color: #EDF2F8;
    grid-area: main;
    border-radius: var(--border-radius2);
    position: relative;
    padding-left: 45px;
    overflow: hidden;
}


/* about main */

.about-main-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-main-left h2 {
    font-size: 2em;
    font-weight: 700;
    color: #3c3d3d;
}

.about-main-left .card-name {
    width: 180px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
    left: 10px;
}

.about-main-left .card-name img {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.about-main-left .card-name .text-card-name {
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-main-left .card-name .text-card-name h4 {
    color: #7A7676;
    font-size: .9em;
    position: relative;
    top: -10px;
    left: 15px;
}

.about-main-left .card-name .text-card-name h3 {
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    font-weight: 700;
    color: #423e3e;

}

.about-main-left .card-nimclass {
    width: 150px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 70px;
}

.about-main-left .card-nimclass h4 {
    color: #7A7676;
    font-size: .9em;
    position: relative;
    font-weight: 600;
    left: 25px;
    top: -10px;
}

.about-main-left .card-nimclass h3 {
    position: relative;
    left: 25px;
    top: -45px;
    font-weight: 700;
    color: #3e3c3c;
}

.about-main-left .button-down-about {
    width: 145px;
    height: 55px;
    border-radius: 100vmax;
    background-color: #2B2828;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    gap: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.552);
    transition: .5s ease;
}

.about-main-left .button-down-about:hover {
    box-shadow: none;
}

.about-main-left .button-down-about h5 {
    font-weight: 600;
    font-size: .7em;
}

.about-main-left .button-down-about img {
    width: 15px;
    transition: .5s ease;

}

.about-main-left .button-down-about:hover img {
    transform: translateY(2px);
    box-shadow: none;
}

.about-main-left .button-up-about {
    width: 145px;
    height: 55px;
    border-radius: 100vmax;
    background-color: #2B2828;
    position: absolute;
    bottom: 50px;
    right: 35px;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    gap: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.552);
    transition: .5s ease;
}

.about-main-left .button-up-about:hover {
    box-shadow: none;
}

.about-main-left .button-up-about h5 {
    font-weight: 600;
    font-size: .7em;
}

.about-main-left .button-up-about img {
    width: 15px;
    transition: .5s ease;
}

.about-main-left .button-up-about:hover img {
    transform: translateY(-2px);
}

.myfoto {
    width: 38%;
    position: absolute;
    right: 260px;
    top: 70px;
}

.about-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    position: absolute;
    right: 170px;
    top: 50px;
}

.about-icon .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100vmax;
    box-shadow: inset 0px 4px 4px rgba(35, 31, 31, 0.25);
}

.about-icon .circle img {
    width: 50px;
}

.about-icon h5 {
    color: rgb(79, 78, 78);
    position: relative;
    top: -14px;
}

.circletext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-icon img {
    width: 50px;
}

.about-icon.right {
    position: relative;
    right: -320px;
    top: -100px;
}

.line-icon {
    width: 3px;
    height: 325px;
    border-radius: 100vmax;
    background-color: #2A2828;
    position: absolute;
    left: 100px;
    top: 0px;
}

.icon1 {
    animation: dadahand .5s ease infinite alternate;
}


.button-up-about h5,
.button-up-about img {
    margin-left: 10px;
}



/* about me skill */

.aboutMe-skill {
    background-color: #EDF2F8;
    grid-area: skill;
    border-radius: var(--border-radius1);
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    color: #3c3d3d;
}

.aboutMe-skill .circle {
    width: 280px;
    height: 95px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: inset 0px 4px 4px rgba(35, 31, 31, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-developer{
    font-size: 1.2em;
}

.webdev-img{
    width: 100px;
}

.circle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle{
    gap: 20px;
}

.circle img {
    width: 80px;
}



/* about hoby */
.aboutMe-hoby {
    background-color: #EDF2F8;
    grid-area: hoby;
    border-radius: var(--border-radius1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutMe-hoby .home {
    width: 60%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-bottom: 50px;
    position: relative;
}

.aboutMe-hoby .home video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.video-slide {
    position: absolute;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    transition: 2s ease;
    clip-path: circle(150% at 0 50%);
    transition-property: clip-path;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
}

.button-slider {
    width: 10px;
    height: 10px;
    border-radius: 100vmax;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
    transition: .5s ease;
}

.button-slider:hover {
    transform: scale(1.3);
}

.button-slider:not(:last-child) {
    margin-right: 20px;
}

.button-slider.active {
    background-color: #b3b3b3;
    box-shadow: inset -1px -1px 2px #FFFFFF, inset 1px 1px 2px #6F6767;
    position: relative;
    transform: scale(1.5);
}

.skill-text {
    margin-left: 65px;
}

.container-contactMe {
    width: 100vw;
    height: 120vh;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contactme {
    position: relative;
    top: 20px;
    width: 85vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
    grid-template-areas: 'form wa'
        'form map';
}

.form {
    background-color: #324157;
    grid-area: form;
    border-radius: var(--border-radius1);
    padding: 50px;
    padding-left: 70px;
}



.form .form-name h3 {
    color: #fff;
    letter-spacing: 2px;
    font-family: 200;
    /* font-family: 'Cantarell', sans-serif; */
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.form .form-name.message h3{
    position: relative;
    top: 10px;
}

.form .form-name input {
    width: 300px;
    height: 30px;
    background-color: #324157;
    border: none;
    border-bottom: 2px solid #73849C;
    border-radius: 2px;
    color: white;
}

.form .form-name.message input{
    height: 50px;
}

.form .form-name input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: .9em;
    color: #73849C;
}

.form .form-name input::-webkit-password-placeholder,
textarea::-webkit-password-placeholder {
    font-size: .9em;
    color: #73849C;
}

.map {
    background-color: #423B68;
    grid-area: map;
    border-radius: var(--border-radius1);
}

.wa {
    background-color: var(--home);
    grid-area: wa;
    border-radius: var(--border-radius1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.912);
}




.form .form-name.message {
    position: relative;
    top: 30px;
}

.form .form-name.email {
    position: relative;
    top: 20px;
}

.form .button-form h3 {
    font-size: .9em;

}

.form .button-form {
    width: 125px;
    height: 50px;
    border-radius: 6px;
    background-color: var(--home);
    position: relative;
    top: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
}

a {
    text-decoration: none;
}

.sosmed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -110px;
    width: 30vw;
    height: 60px;
    border-radius: 50px 50px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.493);
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.sosmed img {
    transition: .5s ease;
}

.sosmed img:hover {
    transform: translateY(-5px);
}


.button-up-contact {
    width: 145px;
    height: 55px;
    border-radius: 100vmax;
    background-color: #324157;
    position: absolute;
    bottom: -80px;
    right: 0px;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 30px;
    gap: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.552);
    transition: .5s ease;
}

.button-up-contact:hover {
    box-shadow: none;
}

.button-up-contact h5 {
    font-weight: 600;
    font-size: .7em;
}

.button-up-contact img {
    width: 15px;
    transition: .5s ease;
}

.button-up-contact:hover img {
    transform: translateY(-2px);
}


.container-biography{
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.biography{
    width: 80vw;
    height: 85vh;
    background-color: rgb(44, 43, 43);
    border-radius: 12px;
    padding: 30px;    
    padding-top: 5px;    
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: hidden;
}

.navbio{
    display: flex;
    gap: 20px;
    position: absolute;
    letter-spacing: 2px;
}

.left-bio{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 30px;
}

.right-bio{
    position: relative;
}


.left-bio p{
    color: rgb(220, 217, 217);
    font-weight: 500;
    font-size: 12px;
    width: 160px;

}

.right-bio h1{
    font-size: 3.8em;
    position: relative;
    top: 30px;
    color: rgb(255, 255, 255);
    z-index: 99;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}

.far{
    position: absolute;
    bottom:  -80px;
    right: 30px;
    width: 620px;
    z-index: 1;
    border-radius: 12px;
}

.linep{
    width: 150px;
    height: 1px;
    background-color: rgb(220, 217, 217);;
}

.biography h5,h6{
    color: rgb(220, 217, 217);
    transition: .5s ease;
}
.biography h5{
    color: rgb(255, 255, 255);
}

.right-top-bio {
    text-align: end;
    color: rgb(220, 217, 217);
    font-size: .7em;
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
}


.navbio a h6:hover{
    transform: scale(1.2);
}




@keyframes atribut {
    0% {}

    100% {
        margin-top: 20px;

    }
}

@keyframes atribut1 {
    0% {}

    100% {
        transform: translateZ(20px);

    }
}

@keyframes atribut2 {
    0% {}

    100% {
        transform: translateX(10px);

    }
}

@keyframes atribut3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

@keyframes atribut4 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

@keyframes button1 {
    0% {}

    100% {
        margin-top: 20px;
        transform: scale(1.2);
    }
}

@keyframes dadahand {
    0% {}

    100% {
        transform: translateY(4px);
    }
}